@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Turret+Road:wght@200;300;400;500;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-white overflow-x-clip;
  }
}

.mask {
  mask-image: url("/public/game-slide-2-mask.png");
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-position: center;
}
